*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    font-family: 'Maven Pro', sans-serif;
}


header{
    background-color: rgb(143, 143, 148);
    width: 100%;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 50px;
    color: white;
    padding: 20px;
    margin: auto;
}

ul{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: auto;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 30px;
}

li{
    font-size: 25px;
    border-radius: 6px;
    background-color: white;
    padding: 5px;
    margin-bottom: 7px;
    padding-right: 15px;
    align-items: center;
}

.inputSection{
    padding: 20px;
    display: flex;
    margin: auto;
    color: white;
    align-items: center;
}

input{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
    cursor: text;
    color: black;
    width: 200px;
}

input.checkbox{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 10px;
    cursor: pointer;
}

button{
    padding: 20px;
    background: rgb(144, 143, 143);
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    margin: 30px auto ;
}

.completedSection{
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style-type: none;
}

.completedSection.active{
    display: none;
}
